{
  "openapi": "3.0.3",
  "info": {
    "title": "LearnIQ Smart Education REST API",
    "description": "Unified REST API specification for LearnIQ Web and Flutter (Android & iOS) Mobile Applications.",
    "version": "1.0.0",
    "contact": {
      "name": "LearnIQ Engineering Team",
      "email": "dev@learniq.edu"
    }
  },
  "servers": [
    {
      "url": "https://api.learniq.edu/api",
      "description": "Production API Server"
    },
    {
      "url": "http://10.0.2.2:5173/api",
      "description": "Android Emulator Localhost"
    },
    {
      "url": "http://127.0.0.1:5173/api",
      "description": "iOS Simulator / Web Localhost"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer Token header: Authorization: Bearer <accessToken>"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": { "type": "object" },
          "message": { "type": "string", "example": "Success" },
          "timestamp": { "type": "string", "format": "date-time", "example": "2026-09-07T14:30:00Z" },
          "statusCode": { "type": "integer", "example": 200 }
        },
        "required": ["success", "message", "timestamp"]
      },
      "AuthTokens": {
        "type": "object",
        "properties": {
          "accessToken": { "type": "string" },
          "refreshToken": { "type": "string" },
          "tokenType": { "type": "string", "example": "Bearer" },
          "expiresIn": { "type": "integer", "example": 86400 }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "usr-std-01" },
          "username": { "type": "string", "example": "kavin" },
          "email": { "type": "string", "example": "kavin.k@learniq.edu" },
          "role": { "type": "string", "enum": ["student", "faculty"], "example": "student" },
          "profileId": { "type": "string", "example": "STD-2026-8841" }
        }
      },
      "StudentProfile": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "STD-2026-8841" },
          "name": { "type": "string", "example": "Kavin" },
          "fullName": { "type": "string", "example": "Kavin Kumar" },
          "email": { "type": "string", "example": "kavin.k@learniq.edu" },
          "role": { "type": "string", "example": "student" },
          "avatar": { "type": "string" },
          "college": { "type": "string", "example": "LearnIQ Institute of AI & Technology" },
          "department": { "type": "string", "example": "Computer Science & Engineering" },
          "semester": { "type": "string", "example": "6th Semester" },
          "streak": { "type": "integer", "example": 5 },
          "overallProgress": { "type": "integer", "example": 78 },
          "aiScore": { "type": "integer", "example": 82 },
          "completedTopics": { "type": "integer", "example": 12 },
          "todayClassesCount": { "type": "integer", "example": 3 }
        }
      },
      "FacultyProfile": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "FAC-1002" },
          "name": { "type": "string", "example": "Dr. Aravind" },
          "fullName": { "type": "string", "example": "Dr. Aravind Swaminathan" },
          "email": { "type": "string", "example": "aravind.s@learniq.edu" },
          "role": { "type": "string", "example": "faculty" },
          "department": { "type": "string", "example": "Computer Science & Engineering" },
          "designation": { "type": "string", "example": "Professor & Head of Algorithms Lab" },
          "assignedSubject": { "type": "string", "example": "Data Structures & Algorithms (CS301)" },
          "todaysTopic": { "type": "string", "example": "Arrays & Advanced Memory Layout" }
        }
      },
      "Subject": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "sub-dsa" },
          "code": { "type": "string", "example": "CS301" },
          "name": { "type": "string", "example": "Data Structures & Algorithms" },
          "short": { "type": "string", "example": "DSA" },
          "icon": { "type": "string", "example": "Code2" },
          "progress": { "type": "integer", "example": 85 },
          "totalTopics": { "type": "integer", "example": 24 },
          "completedTopics": { "type": "integer", "example": 20 },
          "colorHex": { "type": "string", "example": "#FF7A00" },
          "status": { "type": "string", "example": "High Mastery" },
          "instructorName": { "type": "string", "example": "Mr. Aravind" }
        }
      },
      "TimetableItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "cls-2" },
          "time": { "type": "string", "example": "10:30 AM" },
          "duration": { "type": "string", "example": "60 mins" },
          "subject": { "type": "string", "example": "Data Structures" },
          "topic": { "type": "string", "example": "Arrays & Memory Offsets" },
          "code": { "type": "string", "example": "DSA301" },
          "room": { "type": "string", "example": "AI Lab 3 • Ground Floor" },
          "instructor": { "type": "string", "example": "Mr. Aravind" },
          "status": { "type": "string", "enum": ["completed", "live", "upcoming"], "example": "live" },
          "badge": { "type": "string", "example": "LIVE NOW" }
        }
      },
      "LearningLog": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "hist-1" },
          "date": { "type": "string", "example": "Sep 6, 2026" },
          "time": { "type": "string", "example": "10:15 AM" },
          "subject": { "type": "string", "example": "DSA" },
          "topic": { "type": "string", "example": "Arrays & Dynamic Resizing" },
          "category": { "type": "string", "example": "Coding Practice" },
          "score": { "type": "string", "example": "92%" },
          "status": { "type": "string", "example": "Good" },
          "aiFeedback": { "type": "string", "example": "Solved in 4m 12s with O(n) linear scan." }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "notif-001" },
          "title": { "type": "string", "example": "Class Starting" },
          "text": { "type": "string", "example": "DSA Live class starting in Lab 3!" },
          "time": { "type": "string", "example": "Just now" },
          "type": { "type": "string", "example": "timetable" },
          "unread": { "type": "boolean", "example": true }
        }
      }
    }
  },
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Authenticate user & obtain bearer token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": { "type": "string", "enum": ["student", "faculty"], "default": "student" },
                  "email": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login successful, returns tokens and profile" }
        }
      }
    },
    "/auth/register": {
      "post": {
        "summary": "Register a new student or faculty account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "fullName": { "type": "string" },
                  "role": { "type": "string", "enum": ["student", "faculty"] },
                  "college": { "type": "string" },
                  "department": { "type": "string" }
                },
                "required": ["email", "fullName"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Account created successfully" }
        }
      }
    },
    "/auth/me": {
      "get": {
        "summary": "Get authenticated user session",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Session valid" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/student/profile": {
      "get": {
        "summary": "Get student profile details",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Profile data" }
        }
      },
      "put": {
        "summary": "Update student profile details",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Profile updated" }
        }
      }
    },
    "/subjects": {
      "get": {
        "summary": "List all enrolled subjects with progress metrics",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "List of subjects" }
        }
      }
    },
    "/timetable": {
      "get": {
        "summary": "Get today's live and upcoming timetable schedule",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Timetable schedule" }
        }
      }
    },
    "/progress": {
      "get": {
        "summary": "Get overall student progress and weekly streak data",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Progress metrics" }
        }
      }
    },
    "/practice/code/run": {
      "post": {
        "summary": "Execute starter code against test cases in sandbox",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": { "type": "string" },
                  "language": { "type": "string", "example": "cpp" },
                  "exerciseId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Execution output and test case status" }
        }
      }
    },
    "/logs": {
      "get": {
        "summary": "Get 30-second rapid learning logs",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "List of learning reflection logs" }
        }
      },
      "post": {
        "summary": "Save a new 30-second rapid learning log",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": { "type": "string" },
                  "topic": { "type": "string" },
                  "reflection": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Learning log recorded" }
        }
      }
    },
    "/history": {
      "get": {
        "summary": "Searchable & filterable learning timeline records",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "search", "in": "query", "schema": { "type": "string" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "subject", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Filtered history list" }
        }
      }
    },
    "/learning-map": {
      "get": {
        "summary": "Get visual skill tree graph nodes",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Knowledge graph nodes" }
        }
      }
    },
    "/retention/question": {
      "get": {
        "summary": "Get spaced repetition active recall challenge",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Retention question" }
        }
      }
    },
    "/retention/submit": {
      "post": {
        "summary": "Submit spaced repetition recall response",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Retention score updated" }
        }
      }
    },
    "/ai/analysis": {
      "get": {
        "summary": "Get multidimensional AI cognitive metrics",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "AI brain metrics & recommendations" }
        }
      }
    },
    "/ai/chat": {
      "post": {
        "summary": "Query LearnIQ AI Mentor",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": { "type": "string" },
                  "context": { "type": "string" }
                },
                "required": ["message"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "AI mentor answer with suggestions" }
        }
      }
    },
    "/notifications": {
      "get": {
        "summary": "Get student notifications",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "List of notifications" }
        }
      }
    },
    "/notifications/register-token": {
      "post": {
        "summary": "Register mobile device push notification token (FCM / APNS)",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": { "type": "string", "enum": ["flutter_android", "flutter_ios"] },
                  "pushToken": { "type": "string" }
                },
                "required": ["platform", "pushToken"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Device token registered" }
        }
      }
    }
  }
}
